.myGigs {
  display: flex;
  justify-content: center;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 2%,
    rgba(148, 187, 233, 1) 100%
  );
  padding: 20px;
  color: #333;

  .container {
    display: block;
    width: 1200px;
    padding: 50px 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;

      h1 {
        font-size: 38px;
        font-weight: 600;
        color: #2e2e2e;
      }

      button {
        font-size: large;
        background-color: #da84e9; // Light purple
        color: white;
        font-weight: 500;
        border: none;
        border-radius: 50px;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;

        &:hover {
          background-color: #e5aaef; // Lighter purple on hover
          transform: scale(1.05);
        }

        &:active {
          background-color: #ab47bc; // Darker purple on active
          transform: scale(0.95);
        }
      }
    }

    table {
      width: 100%;
      border-collapse: collapse;

      th,
      td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }

      th {
        background-color: white;
        color: #2e2e2e;
        font-weight: 600;
      }

      tr {
        &:nth-child(even) {
          background-color: white;
          &:hover {
            background-color: #f0f0f0;
          }
        }

        &:nth-child(odd) {
          background-color: #e7f1fd;
          &:hover {
            background-color: #c4e7fc;
          }
        }

        td {
          .image {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 5px;
          }

          .delete {
            width: 20px;
            cursor: pointer;
            transition: transform 0.2s ease;

            &:hover {
              transform: scale(1.2);
            }
          }

          sup {
            font-size: 12px;
          }
        }
      }
    }
  }
}
