.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  //background: rgb(0,112,255);
  background: linear-gradient(
    90deg,
    rgba(0, 112, 255, 1) 0%,
    rgba(7, 50, 148, 1) 23%,
    rgba(9, 9, 121, 1) 67%,
    rgba(2, 0, 36, 1) 100%
  );

  color: white;
  transition: background 0.3s ease, color 0.3s ease;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar.active {
  background: white;
  color: black;

  button {
    background: white !important;
    color: #191970 !important;
    border: 1px solid #191970 !important;
  }
}

.container {
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;

  .logo {
    font-size: 34px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 3px;

    .text {
      font-family: "Montserrat", sans-serif;
    }
    .dot {
      color: skyblue;
    }
  }
  .links {
    display: flex;
    align-items: center;
    gap: 24px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;

    .user {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      position: relative;

      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
      }

      .options {
        position: absolute;
        top: 50px;
        right: 0;
        padding: 20px;
        background-color: white;
        border-radius: 10px;
        border: 1px solid lightblue;
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: gray;
        width: 200px;
        font-weight: 300;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      }
    }

    button {
      font-size: 16px;
      min-width: 80px;
      height: 40px;
      color: white;
      padding: 5px 15px;
      border-radius: 5px;
      border: skyblue 5px;
      cursor: pointer;
      background-color: transparent;
      transition: background-color 0.3s ease, border-color 0.3s ease;

      &:hover {
        background-color: skyblue;
      }
    }
  }
}

hr {
  width: 100%;
  height: 0;
  border: none;
  border-top: 0.5px solid #ebe9e9;
}

.menu {
  width: 100%;
  max-width: 1400px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  color: gray;
  font-family: "Montserrat", sans-serif;
}
